<div class="center-all-container" style="margin-top:20">
  <div id="logo">
         <img src="src/img/newlogo.png" width="200"/>
       </div> 

  <section class="blue-gradient-background intro-splash splash" style="opacity: 1;
    background-image: linear-gradient(to left, rgb(41, 128, 185), rgb(44, 62, 80));
    background-color: rgb(44, 62, 80);">
    <div class="container center-all-container" style="margin-top: 100">

       

       <video width="750" controls style="margin-top : -160">
        <source src="src/img/mov_bbb.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <h1 class="white light splash-title">
        <!--<b>BotFactory. Coming Soon !</b>-->
      </h1>

        <div id="search-form" style="margin-top:-1">
        <form (ngSubmit)="newSubscription()">
          <input class="swish-input"  placeholder="enter your email" />
          <button class="bright-blue-hover btn-white">Subscribe</button>
        </form>
      </div>
    </div>
  </section>

  <section style="margine">
    <div class="container tweets-container">
  
    </div>
  </section>


</div>
