<div>
  <section class="blue-gradient-background intro-splash splash" style="opacity: 1;
    background-image: linear-gradient(to left, rgb(41, 128, 185), rgb(44, 62, 80));
    background-color: rgb(44, 62, 80);">
    <div class="container center-all-container" style="margin-top: 100">
       <video width="600" controls style="margin-top : -110">
        <source src="src/img/mov_bbb.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
      </video>
      <h1 class="white light splash-title">
        <!--<b>BotFactory. Coming Soon !</b>-->
      </h1>

      <p class="white light splash-subtitle">
        Be an early subscriber. Register below
      </p>

      <div id="search-form">
        <form (ngSubmit)="newSubscription()">
          <input class="swish-input" [(ngModel)]="newSearchTerm" placeholder="enter your email" />
          <button class="bright-blue-hover btn-white">Subscribe</button>
        </form>
      </div>
    </div>
  </section>

  <section style="margine">
    <div class="container tweets-container">
      <div id="channels-list">
        <div class="channel" *ngFor="let channel of channels">
          <h3 class="white light">
            <img class="twitter-icon" src="src/img/twitter.png" width="30" />
            Tweets for {{ channel.term }}
          </h3>
          <div id="subscription-controls">
            <button class="btn-white secondary" (click)="toggleSearch(channel)">
              {{channel.active ? 'Stop' : 'Restart'}} Stream
            </button>
            <button class="btn-white secondary" (click)="clearSearch(channel)">
              Remove Results
            </button>
          </div>
          <subscription [search]="channel" [pusher]="pusher"></subscription>
        </div>
      </div>
    </div>
  </section>


</div>
